# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\hahow-git\snake_game_java\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
